@{
    ViewData["Title"] = "About";
    ViewData["Message"] = "Welcome to our Final Project for CIT 301C.";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3><br>

<!-- This page is just to acknowledge that we are copyright compliant. Also it thanks a free service. -->
<p>
    The images we used are either original or are released under Creative Commons CC0.
</p>
<p>
    The background image used on the home page can be found on Pixabay at: <a href="https://pixabay.com/en/kyrgyz-republic-landscape-mountains-80843/">https://pixabay.com/en/kyrgyz-republic-landscape-mountains-80843/</a>
</p>
<p>
    Thank you to Pixabay for making images available for free.
</p>
