@{
    ViewData["Title"] = "Home Page";
}

<!-- This page has little code since it is just a body rendered from the layout page. It just is a more pleasant landing page than the default page. -->
<div class="jumbotron">
    <img src="~/images/MountainViewPhoto-Logo-lg.svg" alt="ASP.NET" class="img-responsive" />
</div>
