@model Apartments.Models.Contract

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Contract</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ContractId" />
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @type = "date", @class = "form-control" })
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EndDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", htmlAttributes: new { @type = "date", @class = "form-control" })
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MonthlyRent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="MonthlyRent" class="form-control" />
                <span asp-validation-for="MonthlyRent" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ApartmentId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="ApartmentId" class="form-control" asp-items="ViewBag.ApartmentId"></select>
                <span asp-validation-for="ApartmentId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TenantId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="TenantId" class="form-control" asp-items="ViewBag.TenantId"></select>
                <span asp-validation-for="TenantId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
